<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout (title, content, activeSidebar, links, scripts)"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="context" th:content="${#request.getContextPath()}"/>
    <meta name="csrf-token" th:if="${_csrf}" th:content="${_csrf.token}">
    <title th:utext="${title}"></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">

    <link th:replace="${links} ? ${links} : ~{}">

    <link rel="shortcut icon" th:href="@{/assets/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app">
    <div th:replace="layout/fragments :: sidebar (${activeSidebar})"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3 th:utext="${title}"></h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" sec:authentication="name"></a></li>
                                <li class="breadcrumb-item"><a th:href="@{/change-password}">Change password</a></li>
                                <li class="breadcrumb-item active">
                                    <a href="#"
                                       onclick="event.preventDefault(); document.getElementById('logout').submit()">Logout</a>
                                    <form id="logout" th:action="@{/logout}" method="post"></form>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section th:replace="${content}">
            </section>
        </div>
    </div>
</div>
<script th:src="@{/assets/vendors/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendors/fontawesome/all.min.js}"></script>
<script th:replace="${scripts} ? ${scripts} : ~{}"></script>

<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>