CREATE DATABASE [SRUM]
GO
USE [SRUM]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[note] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[user_id] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[end_date] [date] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[note] [varchar](255) NULL,
	[open_date] [date] NOT NULL,
	[plan_count] [int] NOT NULL,
	[status] [int] NOT NULL,
	[type] [varchar](255) NOT NULL,
	[trainer_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassAdmin]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassAdmin](
	[id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[content] [varchar](255) NOT NULL,
	[created_date] [date] NOT NULL,
	[trainee_id] [numeric](19, 0) NOT NULL,
	[user_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[consult_date] [date] NOT NULL,
	[content] [varchar](500) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[url] [varchar](500) NOT NULL,
	[class_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fresher]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fresher](
	[full_time_working_available] [date] NULL,
	[university_graduation_date] [date] NULL,
	[id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Internship]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internship](
	[id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interview]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interview](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[current_level] [int] NOT NULL,
	[max_level] [int] NOT NULL,
	[skill] [varchar](255) NOT NULL,
	[trainee_id] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issue]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[content] [varchar](255) NOT NULL,
	[date] [date] NOT NULL,
	[class_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mistake]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mistake](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[content] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[note] [varchar](255) NULL,
	[trainee_id] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[expiry_date] [date] NULL,
	[token] [varchar](255) NULL,
	[user_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[subject_id] [numeric](19, 0) NOT NULL,
	[trainee_id] [numeric](19, 0) NOT NULL,
	[name] [varchar](255) NULL,
	[note] [varchar](255) NULL,
	[value] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC,
	[trainee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solution]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solution](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[content] [varchar](255) NOT NULL,
	[date] [date] NOT NULL,
	[issue_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[duration] [float] NULL,
	[name] [varchar](255) NULL,
	[trainer_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainee]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainee](
	[branch] [varchar](255) NULL,
	[faculty] [varchar](255) NULL,
	[note] [varchar](255) NULL,
	[parent_department] [varchar](255) NULL,
	[rec_interview_date] [date] NULL,
	[rec_interview_status] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[university] [varchar](255) NULL,
	[id] [numeric](19, 0) NOT NULL,
	[class_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainer]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainer](
	[id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/09/2021 14:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[account] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[facebook] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([id], [date], [note], [type], [user_id]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2019-09-30T07:00:37.410' AS DateTime), NULL, N'P', CAST(172 AS Numeric(19, 0)))
INSERT [dbo].[Attendance] ([id], [date], [note], [type], [user_id]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2019-05-02T06:21:06.190' AS DateTime), NULL, N'A', CAST(118 AS Numeric(19, 0)))
INSERT [dbo].[Attendance] ([id], [date], [note], [type], [user_id]) VALUES (CAST(3 AS Numeric(19, 0)), CAST(N'2020-05-26T09:02:26.400' AS DateTime), NULL, N'Ln', CAST(118 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([id], [end_date], [name], [note], [open_date], [plan_count], [status], [type], [trainer_id]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2021-11-20' AS Date), N'C188', N'novum quad Versus estum. in imaginator pars dolorum quo nomen essit. novum esset Multum non Tam fecundio, glavans vobis plorum e', CAST(N'2021-07-23' AS Date), 16, 2, N'Fresher', CAST(8 AS Numeric(19, 0)))
INSERT [dbo].[Class] ([id], [end_date], [name], [note], [open_date], [plan_count], [status], [type], [trainer_id]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2021-03-28' AS Date), N'C930', N'essit. quo Sed non eggredior. si regit, manifestum ut vobis manifestum regit, Sed Et linguens linguens e', CAST(N'2020-11-26' AS Date), 25, 0, N'Fresher', CAST(9 AS Numeric(19, 0)))
INSERT [dbo].[Class] ([id], [end_date], [name], [note], [open_date], [plan_count], [status], [type], [trainer_id]) VALUES (CAST(3 AS Numeric(19, 0)), CAST(N'2020-12-25' AS Date), N'C250', N'vantis. manifestum quoque glavans trepicandor quartu et transit. sed parte bono quis plurissimum Tam homo,', CAST(N'2020-08-27' AS Date), 10, 2, N'Fresher', CAST(8 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
INSERT [dbo].[ClassAdmin] ([id]) VALUES (CAST(1 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([id], [content], [created_date], [trainee_id], [user_id]) VALUES (CAST(1 AS Numeric(19, 0)), N'manifestum plorum quad travissimantor quad Versus travissimantor', CAST(N'2020-06-12' AS Date), CAST(156 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[Comment] ([id], [content], [created_date], [trainee_id], [user_id]) VALUES (CAST(2 AS Numeric(19, 0)), N'quantare imaginator et fecundio, delerium. gravis glavans quoque gravum Multum', CAST(N'2020-08-17' AS Date), CAST(174 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[Comment] ([id], [content], [created_date], [trainee_id], [user_id]) VALUES (CAST(3 AS Numeric(19, 0)), N'eudis gravis plurissimum brevens, et Id gravis rarendum', CAST(N'2021-03-30' AS Date), CAST(164 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([id], [consult_date], [content], [name], [url], [class_id]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2021-09-17' AS Date), N'https://docs.google.com/forms/d/e/1FAIpQLSfulrkuPgjY75Ks0lZIXxBFc2n__42P-WtRGGOvpY23UFbLuQ/viewform?usp=sf_link', N'Feedback Subject', N'https://docs.google.com/forms/d/1D3FY7_esbNUTvfAYhBKO3HEbwgfXpwRe4TvaZ-VStpU/edit', CAST(12 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
INSERT [dbo].[Fresher] ([full_time_working_available], [university_graduation_date], [id]) VALUES (CAST(N'1991-03-07' AS Date), CAST(N'1972-08-15' AS Date), CAST(111 AS Numeric(19, 0)))
INSERT [dbo].[Fresher] ([full_time_working_available], [university_graduation_date], [id]) VALUES (CAST(N'1957-07-11' AS Date), CAST(N'2017-02-18' AS Date), CAST(112 AS Numeric(19, 0)))
INSERT [dbo].[Fresher] ([full_time_working_available], [university_graduation_date], [id]) VALUES (CAST(N'1998-08-26' AS Date), CAST(N'2019-08-13' AS Date), CAST(113 AS Numeric(19, 0)))
GO
INSERT [dbo].[Internship] ([id]) VALUES (CAST(11 AS Numeric(19, 0)))
INSERT [dbo].[Internship] ([id]) VALUES (CAST(12 AS Numeric(19, 0)))
INSERT [dbo].[Internship] ([id]) VALUES (CAST(13 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Interview] ON 

INSERT [dbo].[Interview] ([id], [current_level], [max_level], [skill], [trainee_id]) VALUES (CAST(1 AS Numeric(19, 0)), 7, 10, N'Skill-71', CAST(156 AS Numeric(19, 0)))
INSERT [dbo].[Interview] ([id], [current_level], [max_level], [skill], [trainee_id]) VALUES (CAST(2 AS Numeric(19, 0)), 6, 10, N'Skill-51', CAST(174 AS Numeric(19, 0)))
INSERT [dbo].[Interview] ([id], [current_level], [max_level], [skill], [trainee_id]) VALUES (CAST(3 AS Numeric(19, 0)), 5, 10, N'Skill-03', CAST(164 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Interview] OFF
GO
SET IDENTITY_INSERT [dbo].[Issue] ON 

INSERT [dbo].[Issue] ([id], [content], [date], [class_id]) VALUES (CAST(1 AS Numeric(19, 0)), N'pars Tam regit, quis novum gravum venit. fecundio, esset', CAST(N'2020-02-24' AS Date), CAST(15 AS Numeric(19, 0)))
INSERT [dbo].[Issue] ([id], [content], [date], [class_id]) VALUES (CAST(2 AS Numeric(19, 0)), N'funem. pars travissimantor habitatio apparens rarendum', CAST(N'2020-12-03' AS Date), CAST(17 AS Numeric(19, 0)))
INSERT [dbo].[Issue] ([id], [content], [date], [class_id]) VALUES (CAST(3 AS Numeric(19, 0)), N'nomen non ut Sed quorum quo et vobis gravum quantare', CAST(N'2020-11-22' AS Date), CAST(16 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Issue] OFF
GO
SET IDENTITY_INSERT [dbo].[Mistake] ON 

INSERT [dbo].[Mistake] ([id], [content], [name], [note], [trainee_id]) VALUES (CAST(1 AS Numeric(19, 0)), N'quo plorum imaginator quad et in vantis. et vantis.', N'Mistake 565', N'linguens Pro vantis. quad plurissimum regit, Pro eudis si et pladior si Longam, Sed glavans quorum novum', CAST(174 AS Numeric(19, 0)))
INSERT [dbo].[Mistake] ([id], [content], [name], [note], [trainee_id]) VALUES (CAST(2 AS Numeric(19, 0)), N'funem. trepicandor eudis et nomen sed si in quo travissimantor', N'Mistake 934', N'et trepicandor Versus quad Pro non funem. gravum nomen volcans vobis novum plorum Longam, linguens estum. habitatio', CAST(122 AS Numeric(19, 0)))
INSERT [dbo].[Mistake] ([id], [content], [name], [note], [trainee_id]) VALUES (CAST(3 AS Numeric(19, 0)), N'et rarendum estum. non in non fecit, plorum eudis gravum', N'Mistake 450', N'venit. pladior dolorum in transit. nomen Multum sed quo pars et quantare Id habitatio travissimantor', CAST(122 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Mistake] OFF
GO
INSERT [dbo].[Score] ([subject_id], [trainee_id], [name], [note], [value]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(20 AS Numeric(19, 0)), N'Score-608', N'ut manifestum vobis Tam dolorum venit. Quad bono apparens plorum gravis novum plorum habitatio vobis', 9.7339931296808615)
INSERT [dbo].[Score] ([subject_id], [trainee_id], [name], [note], [value]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(24 AS Numeric(19, 0)), N'Score-089', N'eggredior. imaginator imaginator fecundio, homo, nomen Quad novum travissimantor manifestum gravis quartu regit,', 6.8541518342002075)
INSERT [dbo].[Score] ([subject_id], [trainee_id], [name], [note], [value]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(26 AS Numeric(19, 0)), N'Score-454', N'Longam, bono eudis fecit, imaginator si Longam, in quo egreddior novum in venit. Pro plurissimum et quo,', 9.2332615699773939)
GO
SET IDENTITY_INSERT [dbo].[Solution] ON 

INSERT [dbo].[Solution] ([id], [content], [date], [issue_id]) VALUES (CAST(1 AS Numeric(19, 0)), N'trepicandor et fecundio, et Sed venit. brevens, manifestum et bono novum quo Pro Pro non quartu quo esset', CAST(N'2021-12-06' AS Date), CAST(146 AS Numeric(19, 0)))
INSERT [dbo].[Solution] ([id], [content], [date], [issue_id]) VALUES (CAST(2 AS Numeric(19, 0)), N'cognitio, quo, volcans esset Sed in vobis transit. homo, plorum pladior quo quoque volcans pladior quorum travissimantor Tam quad sed', CAST(N'2021-09-08' AS Date), CAST(164 AS Numeric(19, 0)))
INSERT [dbo].[Solution] ([id], [content], [date], [issue_id]) VALUES (CAST(3 AS Numeric(19, 0)), N'quoque plorum estum. plurissimum quoque Et vobis nomen non delerium. cognitio, pars si e Versus quad', CAST(N'2021-06-23' AS Date), CAST(154 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Solution] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([id], [description], [duration], [name], [trainer_id]) VALUES (CAST(1 AS Numeric(19, 0)), N'in sed quad quo, plorum si bono non trepicandor in si estum. plurissimum venit. pladior egreddior estum.', 5, N'SPRING', CAST(8 AS Numeric(19, 0)))
INSERT [dbo].[Subject] ([id], [description], [duration], [name], [trainer_id]) VALUES (CAST(2 AS Numeric(19, 0)), N'essit. cognitio, quoque Longam, Multum cognitio, et gravis gravum Et ut estum. linguens Id bono manifestum et', 6, N'JAVA', CAST(9 AS Numeric(19, 0)))
INSERT [dbo].[Subject] ([id], [description], [duration], [name], [trainer_id]) VALUES (CAST(3 AS Numeric(19, 0)), N'gravis homo, parte glavans essit. glavans non eggredior. quo, quoque volcans Versus estum. apparens Longam,', 7, N'ORM', CAST(8 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
INSERT [dbo].[Trainee] ([branch], [faculty], [note], [parent_department], [rec_interview_date], [rec_interview_status], [status], [university], [id], [class_id]) VALUES (N'Brazil', N'Marketing', N'vobis quantare regit, estis Et non egreddior plurissimum quartu linguens vobis Id transit. habitatio', N'Fville2', CAST(N'2021-02-07' AS Date), N'Fail', N'DISABLE', N'GKEK', CAST(11 AS Numeric(19, 0)), CAST(5 AS Numeric(19, 0)))
INSERT [dbo].[Trainee] ([branch], [faculty], [note], [parent_department], [rec_interview_date], [rec_interview_status], [status], [university], [id], [class_id]) VALUES (N'Pakistan', N'Corporate Care', N'quo, gravis non sed et brevens, nomen regit, glavans estum. bono plurissimum volcans Versus novum et manifestum', N'Fville2', CAST(N'2020-11-20' AS Date), N'Fail', N'DISABLE', N'FDVX', CAST(12 AS Numeric(19, 0)), CAST(10 AS Numeric(19, 0)))
INSERT [dbo].[Trainee] ([branch], [faculty], [note], [parent_department], [rec_interview_date], [rec_interview_status], [status], [university], [id], [class_id]) VALUES (N'Liechtenstein', N'Technical', N'quartu imaginator quantare et linguens Versus in in linguens imaginator fecit. brevens, et fecit, vobis e parte', N'Fville2', CAST(N'2020-08-14' AS Date), N'Pass', N'ACTIVE', N'WVP', CAST(13 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
GO
INSERT [dbo].[Trainer] ([id]) VALUES (CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[Trainer] ([id]) VALUES (CAST(2 AS Numeric(19, 0)))
INSERT [dbo].[Trainer] ([id]) VALUES (CAST(3 AS Numeric(19, 0)))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [account], [email], [facebook], [gender], [name], [password], [phone]) VALUES (CAST(1 AS Numeric(19, 0)), N'admin', N'yiuztnd744@example.com', N'www.facebook.com/gnYjV', N'Male', N'Allison Schneider', N'$2a$12$4Vnj9Su8SvYtHUacgxhn4uTVOoBl.KelQw4UuDH/pd1byDc78NAGi', N'581-186-0122')
INSERT [dbo].[Users] ([id], [account], [email], [facebook], [gender], [name], [password], [phone]) VALUES (CAST(2 AS Numeric(19, 0)), N'Katina848', N'qkbujb.bmeglrfyjs@example.com', N'www.facebook.com/MGCrg', N'Female', N'Larry Holder', N'', N'212-2862618')
INSERT [dbo].[Users] ([id], [account], [email], [facebook], [gender], [name], [password], [phone]) VALUES (CAST(3 AS Numeric(19, 0)), N'Jane614', N'cbklaa18@example.com', N'www.facebook.com/f6WwH7wzV', N'Male', N'Darryl Burton', N'', N'578-9507936')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK62ob7qnlijnrbtrlfve2ef7yo] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK62ob7qnlijnrbtrlfve2ef7yo]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK9f1ij2d3flj6mylw0jt6799nb] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainer] ([id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK9f1ij2d3flj6mylw0jt6799nb]
GO
ALTER TABLE [dbo].[ClassAdmin]  WITH CHECK ADD  CONSTRAINT [FK7j0i76mh0y67qwvsv0k38u6db] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ClassAdmin] CHECK CONSTRAINT [FK7j0i76mh0y67qwvsv0k38u6db]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKigo2ow2do865jqhe90iso0fvm] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[Trainee] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKigo2ow2do865jqhe90iso0fvm]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKnnhjc0on4rr1g1sl32gshdgxe] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKnnhjc0on4rr1g1sl32gshdgxe]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FKb9x5904rxh3nm2inc89je001] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FKb9x5904rxh3nm2inc89je001]
GO
ALTER TABLE [dbo].[Fresher]  WITH CHECK ADD  CONSTRAINT [FKdyita4amic3l3eapgq44ij9j0] FOREIGN KEY([id])
REFERENCES [dbo].[Trainee] ([id])
GO
ALTER TABLE [dbo].[Fresher] CHECK CONSTRAINT [FKdyita4amic3l3eapgq44ij9j0]
GO
ALTER TABLE [dbo].[Internship]  WITH CHECK ADD  CONSTRAINT [FKkrxw43to3t8kkef75s4a3jp8i] FOREIGN KEY([id])
REFERENCES [dbo].[Trainee] ([id])
GO
ALTER TABLE [dbo].[Internship] CHECK CONSTRAINT [FKkrxw43to3t8kkef75s4a3jp8i]
GO
ALTER TABLE [dbo].[Interview]  WITH CHECK ADD  CONSTRAINT [FKiesr99knmg7t7hp76b1ivynj6] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[Trainee] ([id])
GO
ALTER TABLE [dbo].[Interview] CHECK CONSTRAINT [FKiesr99knmg7t7hp76b1ivynj6]
GO
ALTER TABLE [dbo].[Issue]  WITH CHECK ADD  CONSTRAINT [FKr0rmbhpwgqauhyus41dxhbj1r] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[Issue] CHECK CONSTRAINT [FKr0rmbhpwgqauhyus41dxhbj1r]
GO
ALTER TABLE [dbo].[Mistake]  WITH CHECK ADD  CONSTRAINT [FK5phabcykq0ehxid0dfo95qxe9] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[Trainee] ([id])
GO
ALTER TABLE [dbo].[Mistake] CHECK CONSTRAINT [FK5phabcykq0ehxid0dfo95qxe9]
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD  CONSTRAINT [FKpr3o3kx11ack418b2doprb9rl] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[PasswordResetToken] CHECK CONSTRAINT [FKpr3o3kx11ack418b2doprb9rl]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FKf5c0d3p4n76vg4c730dcx3pqw] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[Trainee] ([id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FKf5c0d3p4n76vg4c730dcx3pqw]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FKpftbvjygeytrusm6n4kjcn9ms] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FKpftbvjygeytrusm6n4kjcn9ms]
GO
ALTER TABLE [dbo].[Solution]  WITH CHECK ADD  CONSTRAINT [FKp02xjw359kicu9i54g7s7qqi4] FOREIGN KEY([issue_id])
REFERENCES [dbo].[Issue] ([id])
GO
ALTER TABLE [dbo].[Solution] CHECK CONSTRAINT [FKp02xjw359kicu9i54g7s7qqi4]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FKi94799pyp4tomu0p7bqmav3t7] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainer] ([id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FKi94799pyp4tomu0p7bqmav3t7]
GO
ALTER TABLE [dbo].[Trainee]  WITH CHECK ADD  CONSTRAINT [FKecidnftrkg9mhoc8oynrf53sa] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Trainee] CHECK CONSTRAINT [FKecidnftrkg9mhoc8oynrf53sa]
GO
ALTER TABLE [dbo].[Trainee]  WITH CHECK ADD  CONSTRAINT [FKra6h5o2fycmwfouqusi2fn7a5] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[Trainee] CHECK CONSTRAINT [FKra6h5o2fycmwfouqusi2fn7a5]
GO
ALTER TABLE [dbo].[Trainer]  WITH CHECK ADD  CONSTRAINT [FKngilk047vkf6qde03hybtgtio] FOREIGN KEY([id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Trainer] CHECK CONSTRAINT [FKngilk047vkf6qde03hybtgtio]
GO
