<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
</head>
<body>
<div class="comments">
    <form id="form-add-comment" sec:authorize="${hasAuthority(T(com.srum.util.Roles).CLASS_ADMIN)}">
        <div class="form-group" style="margin-top: 15px">
            <!--<label>Add Comment</label>-->
            <textarea id="comment" name="comment" class="form-control" rows="2" th:required="true"
                      placeholder="write comment here"></textarea>
            <button class="btn btn-success" id="add-comment" th:attr="data-id=${traineeId}">Add Comment</button>
        </div>
    </form>
    <div class="cmt" th:each="comment : ${comments}">
        <div class="row rowcmt">
            <div class="col-sm-2">
                <img th:src="@{/assets/images/faces/1.jpg}" class="rounded-circle"
                     width="100" height="100" style=" margin-left: 10px">
            </div>
            <div class="col-sm-8">
                <h5 style="color:deepskyblue;" th:text="${comment.getUser().name}">Bui Thanh Hoa</h5>
                <p th:text="${comment.content}"></p>
            </div>
            <div class="col-sm-2">
                <h6 style="color: deepskyblue;font-style: italic;"
                    th:text="'Date: '+${#dates.format(comment.createdDate, 'dd-MM-yyyy')}"></h6>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/add-comment.js}"></script>
</html>