<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/toastify/toastify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/assets/css/pages/auth.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div id="auth">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <h1>SRUM</h1>
                </div>
                <h1 class="auth-title">Reset password</h1>
                <form th:id="form-reset" th:action="@{/password/reset}" method="POST">
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" class="form-control form-control-xl" th:name="account" placeholder="Account"
                               required>
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <button id="btn-submit" type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Reset</button>
                </form>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
                <img id="background" src="https://images.unsplash.com/photo-1603899122634-f086ca5f5ddd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80" alt="Login background">
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/assets/vendors/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendors/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:src="@{/assets/vendors/toastify/toastify.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script th:src="@{/js/reset-password.js}"></script>
</body>

</html>
