<!DOCTYPE html>
<html lang="en"
      th:replace="layout/main :: layout ('Subject Detail', ~{::section}, 'subject', ~{::link}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/assets/vendors/simple-datatables/style.css}">
</head>
<body>

<section class="section">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-4"
                style="color: brown;" th:utext="${subject.name}"></h3>
            <div class="mt-4 text-dark">
                <p class="font-bold" th:utext="'Duration : '+${subject.duration}"></p>
                <p class="font-bold" th:utext="'Lecture : '+${subject.trainer.name}"></p>
                <p class="font-bold">Training Objective</p>

                <div class="ms-5 d-inline-block">
                    <p class="text-break">
                        Software Requirements
                    </p>
                    <p class="text-break">
                        Software Requirements
                    </p>
                </div>
            </div>
            <p class="text-dark font-bold">LIST STUDENT</p>
            <div class="card border">
                <div class="card-body">
                    <div class="mt-4 mb-2 table-responsive">
                        <div class="mt-2 mb-2 table-responsive">
                            <table class="table text-dark table-hover" id="subject-detaild-table">
                                <thead>
                                <tr>
                                    <th scope="col">NO</th>
                                    <th scope="col">FULLNAME</th>
                                    <th scope="col">ClASS NAME</th>
                                    <th scope="col">NOTE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="trainee,state:${traineeList}">
                                    <td th:utext="${state.count}"></td>
                                    <td><a th:href="@{'/trainee/'+${trainee.id}}" th:text="${trainee.name}"></a> </td>
                                    <td><a th:href="@{'/class/' + ${trainee.clazz.id}}" th:text="${trainee.clazz.name}"></a></td>
                                    <td th:utext="${trainee.note}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/assets/vendors/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/js/subject-detail.js}"></script>
</body>
</html>